
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-6{

}
.container{
    max-width: 80%;
    margin: 0 auto;
}

#header {
    margin-left: 140px;
}

.navbar-brand {
    color: #DC780B;
}
 
.container-fluid{
    display: flex;
    margin: 10px 50px;
}

.picture{
    display: flex;
    margin-left: 20px;
}

.btn {
    background-color: #DC780B;
    width: 155px;
    height: 46px;
    border-radius: 5px;
    color: white;
    border: none;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row h1{
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    margin-top: 42px;
}

.row p{
    color: #150C01;
    font-family: 'Roboto' ,sans-serif;
    font-weight: 500;
}

.col-6 img{
    width: 100%;
}

.back{
    width: 158px;
    height: 60px;
    border-radius: 5px;
    background-color: #DC780B;
    color: white;
    margin-right: 30px;
    border: none;
}

.glue{
    width: 158px;
    height: 60px;
    border-color: #e17706d5;
    border-radius: 5px;
    color: #DC780B;
}

.features  {
    display: flex;
    justify-content: center;
    margin-top: 115px;
    font-size: 16px;
    color: #DC780B;
}


.food{
    display: flex;
    justify-content: center;
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    font-size: 31px;
    color: #000000;
    margin-top: 7px;
}

.good {
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
}


.col-4{
    display: flex;
    text-align: center;
    justify-content: center;
}

.radius {
    background-color: bisque;
    border-radius: 50%;
    align-items: center;
    width: 80px;
    height: 80px;
}